ftfy==6.1.1
nltk>=3.8.1
emoji==2.8.0
torch>=2.0.0
Unidecode==1.3.6
transformers>=4.30.0
beautifulsoup4==4.12.2
presidio_anonymizer>=2.2.0
lingua-language-detector>=2.0.2
hypothesis==6.82.7
faker==20.1.0
flake8==6.1.0
pytest==8.3.3
coverage==7.3.1
pytest-cov==4.1.0
timeout-decorator==0.5.0