name: Publish Python Package

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'  # Use a specific Python version for publishing

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine

    - name: Install package dependencies
      run: |
        pip install -e .
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install hypothesis faker

    - name: Build the package
      run: python setup.py sdist bdist_wheel

    - name: Publish to PyPI
      env:
        TWINE_USERNAME: rhnfzl
        TWINE_PASSWORD: ${{ secrets.SQUEAKYCLEANTEXT_API }}
      run: twine upload dist/*